<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon.ico') }}"/>
        <title>ASDiagnose: Consultation Info</title>
    </head>
    <body>

        <ol style="--length: 5" role="list">
            <li style="--i: 1">
                <h3>The National Autism Society of Malaysia</h3>
                <p>The National Autism Society of Malaysia (NASOM) is a society formed in 1986 by a group of parents and professionals with the aim to deliver lifespan services to the community of persons suffering from autism.<br>
                <br>Contact: <a href="#">+603-7832 1928</a>
                <br>Email: <a href="#">info@nasom.org.my</a>
                <br>Website: <a href="https://www.nasom.org.my" target=”_blank”>https://www.nasom.org.my</a>
            </p>
            </li>
            <li style="--i: 2">
                <h3>Autism Link Malaysia</h3>
                <p>Autism Link Malaysia is a WORLD-CLASS autism center in Malaysia. We were established in 2009 to meet the tremendous need in Malaysia for comprehensive services for children and adolescents with Autism Spectrum Disorder (ASD).<br>
                <br>Contact: <a href="#">+603-2011 6708</a> / <a href="#">+6016-6100309</a>
                <br>Email: <a href="#">enquiries@autism.my</a>
                <br>Website: <a href="https://www.autism.my/" target=”_blank”>https://www.autism.my</a>
                </p>
            </li>
            <li style="--i: 3">
                <h3>National Autism Resource Centre</h3>
                <p>NARC functions as a one-stop knowledge repository and reference resources for research, services, training and curriculum development, consultancy and projects related to Person with Autism (PWA) in Malaysia<br>
                    <br>Contact: <a href="#">+6011-1303 8280</a>
                    <br>Email: <a href="#">narc@uitm.edu.my</a>
                    <br>Website: <a href="https://narc.uitm.edu.my/" target=”_blank”>https://narc.uitm.edu.my</a>
                </p>
            </li>
            <li style="--i: 4">
                <h3>Early Autism Project Malaysia</h3>
                <p>EAP Malaysia provides individualised intensive behavioural treatment programmes to individuals with autism utilising the Applied Behavioural Analysis (ABA) approach.<br>
                <br>Contact: <a href="#">+603-2094 0421</a>
                <br>Email: <a href="#">enquiries@autismmalaysia.com</a>
                <br>Website: <a href="https://www.autismmalaysia.com/" target=”_blank”>https://www.autismmalaysia.com/</a>
                </p>
            </li>
        </ol>
        <div class="notfound">
        <a href="{{ url_for('menu') }}">Home page</a>
        </div>
        <br><br>
    </body>
</html>