<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon.ico') }}"/>
        <title>ASDiagnose | Home</title>
    </head>
    <body>
        <div id="house">
            <a href="{{url_for('logout')}}" class="logoutbtn">
                Logout?
            </a>
            <img src="/static/image/logo.png" alt="Paris" class="center">
        <nav>
            <a href="{{ url_for('dash') }}">DASHBOARD</a>
            <a href="{{ url_for('prescreen') }}">DIAGNOSE</a>
            <a href="{{ url_for('contact') }}">LEARN</a>
            <div id="indicator"></div>
          </nav>
        </div>

    </body>
</html>